  
 /*  
.dialogImage {
        height: 43vh;
    };
   */

   @media (min-height: 800px){
    .dialogImage {
        height: 43vh;
    }
    .dialogContent{
      max-height: 90vh;
    }
  }

  @media (max-height: 800px){
    .dialogImage {
        height: 39vh;
    }
    .dialogContent{
      max-height: 80vh !important;
    }

    .containerBottom{
      padding-bottom: 70px !important;
    }
  }